@using System.Text.RegularExpressions
<div class="character-panel">
    <header class="character-panel-header">
        <h3>Character</h3>
    </header>

    <img class="hero-stat-bg" src="png/heroItemBG.png"  />
    <img class="hero-equip-bg" src="png/inventoryBG.png"  />

    <div class="stat" style="left:148px; top:155px;"><img class="icon" src='png/Hero Health.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:236px; top:155px;"><img class="icon" src='png/Hero Damage.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:155px;"><img class="icon" src='png/Move Speed.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:412px; top:155px;"><img class="icon" src='png/Cast Rate.png'  /><span class='stat-val'>+9999</span></div>

    <div class="stat" style="left:236px; top:255px;"><img class="icon" src='png/AB1/Monk AB1.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:255px;"><img class="icon" src='png/AB2/Hero Boost Monk AB2.png' /><span class='stat-val'>+9999</span></div>
  
    <div class="stat" style="left:148px; top:355px;"><img class="icon"src='png/Tower Health.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:236px; top:355px;"><img class="icon"src='png/Tower Damage.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:324px; top:355px;"><img class="icon"src='png/Tower Range.png' /><span class='stat-val'>+9999</span></div>
    <div class="stat" style="left:412px; top:355px;"><img class="icon" src='png/Tower Rate.png' /><span class='stat-val'>+9999</span></div>
    
    <div class="stat" style="left:148px; top:455px;"><img class="icon" src='png/Generic Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:236px; top:455px;"><img class="icon" src='png/Poison Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:324px; top:455px;"><img class="icon" src='png/Fire Resistance.png' /><span class='stat-val'>90%</span></div>
    <div class="stat" style="left:412px; top:455px;"><img class="icon" src='png/Lightning Resistance.png' /><span class='stat-val'>90%</span></div>


    <div class="equip equip--small" style="left:755px; top:185px;">@(GetEquipmentVisuals("Bracers"))</div>
    <div class="equip equip--small" style="left:555px; top:100px;">@(GetEquipmentVisuals("Brooch"))</div>
    <div class="equip equip--small" style="left:755px; top:100px;">@(GetEquipmentVisuals("Mask"))</div>
    <div class="equip equip--big" style="left:656px; top:125px;">@(GetEquipmentVisuals("Helmet"))</div>
    <div class="equip equip--big" style="left:666px; top:275px;">@(GetEquipmentVisuals("Torso"))</div>
    <div class="equip equip--big" style="left:766px; top:300px;">@(GetEquipmentVisuals("Gauntlet"))</div>
    <div class="equip equip--big" style="left:566px; top:225px;">@(GetEquipmentVisuals("Weapon"))</div>
    <div class="equip equip--big" style="left:640px; top:440px;">@(GetEquipmentVisuals("Boots"))</div>
    <div class="equip equip--big" style="left:766px; top:420px;">@(GetEquipmentVisuals("Extra"))</div>
    <div class="equip equip--big" style="left:540px; top:360px;">@(GetEquipmentVisuals("Pet"))</div>

    <div style="position: absolute; left:100px; top:100px;">
        <RadioSelect Placeholder="Sort"
                     Options="SortOptions"
                     Value="Sort"
                     ValueChanged="OnSortChanged" />
    </div>
    @inject IJSRuntime JS
    @code {
        private string? Sort = "Recent";

        private IReadOnlyList<RadioSelect.Option> SortOptions = new[]
        {
        new RadioSelect.Option("Recent", "Most recent"),
        new RadioSelect.Option("Popular", "Most popular"),
        new RadioSelect.Option("PriceAsc", "Price ↑"),
        new RadioSelect.Option("PriceDesc", "Price ↓"),
        new RadioSelect.Option("Rating", "Rating"),
        };


        private Task OnSortChanged(string? v)
        {
            Sort = v;
            return Task.CompletedTask;
        }

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await JS.InvokeVoidAsync("atlasIcons.renderAllCached");
        }
        // the main index.razor pokes and changes this - encapsulate at some point
        public Dictionary<string, ItemViewRow> EquippedItems = new(); 

        private static RenderFragment EmptyFragment => builder => { };

        public RenderFragment GetEquipmentVisuals(string slot) 
        {            
            if (EquippedItems.ContainsKey(slot))
            {
                ItemViewRow row = EquippedItems[slot];
                string tierTag = "tier-" + row.Quality.Replace("+", "plus").ToLowerInvariant();
                string name = Regex.Replace(row.Name, @"\s*\([^()]*\)", "");
                return GetEquipmentRenderVisual(row, tierTag, name);
            }

            return EmptyFragment;
        }

        private RenderFragment GetEquipmentRenderVisual(ItemViewRow r, string tierTag, string name) =>
            @<div>
            <img class="frame" src="png/equipFrame.png" alt="" />
            <img class="atlas-icon overlay"
                 alt=""                 
                 data-size="64"
                 data-l1x="@r.IconX" data-l1y="@r.IconY"
                 data-l2x="@r.IconX1" data-l2y="@r.IconY1" data-l2t="@r.Color1"
                 data-l3x="@r.IconX2" data-l3y="@r.IconY2" data-l3t="@r.Color2"/>
            <div class="tag @tierTag">
                 <div class="tag-rating">@r.Rating</div>
                 <div class="tag-name">@name</div>
            </div>  
            </div>
        ;


        //<img class='overlay" @GetEquipmentProps("Torso") alt="">
        public async Task ChangeEquipment(string slot, ItemViewRow? r)
        {
            if (r == null)
                EquippedItems.Remove(slot);
            else
                EquippedItems[slot] = r;
            StateHasChanged();
            await JS.InvokeVoidAsync("atlasIcons.renderAllCached");            

            <!--     <img class="atlas-icon"
                 alt=""
                 width="32" height="32"
                 data-size="32"
                 data-l1x="@r.IconX" data-l1y="@r.IconY"
                 data-l2x="@r.IconX1" data-l2y="@r.IconY1" data-l2t="@r.Color1"
                 data-l3x="@r.IconX2" data-l3y="@r.IconY2" data-l3t="@r.Color2" />

                      <img class="frame" src="png/equipFrame.png" alt="">

                           <img class="overlay" @GetEquipmentProps("Torso") alt="">
             <span class="stat-val">1000</span>
             <span class="equip-val">Leather Chestguard</span>-->

        }
    }
    <!--
    <div class="character-panel-split">
        <div class="character-panel-left">                        
             <section class="stat-section">
                <div class="character-stat-header">
                    HERO
                </div>
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Hero Health.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Hero Damage.png'/><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Move Speed.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Cast Rate.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
            <section class="stat-section">
                <div class="character-stat-header">
                    ABILITIES
                </div>
                <div class="icon-row two-items">
                    <div class="stat"><img class="icon" src='png/AB1/Monk AB1.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/AB2/Hero Boost Monk AB2.png' /><span class='stat-val'>100</span></div>
                </div>

                <div class="character-stat-header">
                    SUMMONS
                </div>
            </section>
            <section class="stat-section">            
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Tower Health.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Damage.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Range.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Tower Rate.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
            <section class="stat-section">            
                <div class="character-stat-header">
                    RESISTANCE
                </div>
                <div class="icon-row">
                    <div class="stat"><img class="icon" src='png/Generic Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Poison Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Fire Resistance.png' /><span class='stat-val'>100</span></div>
                    <div class="stat"><img class="icon" src='png/Lightning Resistance.png' /><span class='stat-val'>100</span></div>
                </div>
            </section>
        </div>
        <div class="character-panel-right">
            <p class="muted">Select an item to see details.</p>                                               
        </div>
    </div>-->
</div>
@code {
//     Things left before I push a new version:
// * "Equip Best" manual choice
// * Total of stats, factor in set bonus / warn if no set bonus
// * Pick character or class to paperdoll + icon
// * Make selection of item rows more efficient by moving selection to an overlay and not on the<tr> element

// Later to do:
// * Hover for item stats
// * Use class icons instead of default ones

}
