@page "/"
@implements IDisposable
@using Microsoft.JSInterop



<div class="top-pane">
    <div class="left-pane">
        <h1>Dungeon Defender Gear Optimizer</h1>        
        <div class="build"><i>Jan 15 2026 - Version 0.6</i></div>    
        <div id="@_dropZoneId" class="dropzone @( _isDragOver ? "over" : "" )">
            <div class="dropzone-text">
                Drag your <b>DunDefHeroes.dun</b> file here
                @if (!_hideDropzoneHelp)
                {
                    <div class="dropzone-subtext @( _hideDropzoneHelp ? "hidden" : "" )">
                        <ul>
                            <li>Run Dungeon Defenders, log into TrendyNet, then click Export to Open</li>
                            <li>Go to Dungeon Defenders in your Steam library, right-click, Manage &gt; Browse Local Files</li>
                            <li>Then click on the Binaries\Win32 or Win64 folder (whichever version you run), and drag the DunDefHeroes.dun file here.</li>
                            <li>No data is uploaded to any server, this is all run locally on your computer.</li>
                        </ul>
                    </div>
                }
            </div>

            @if (_isLoading)
            {
                <div class="status">Loading… @_status</div>
            }
            else if (!string.IsNullOrEmpty(_error))
            {
                <div class="status error">@_error</div>
            }
            else if (!string.IsNullOrEmpty(_status))
            {
                <div class="status">@_status</div>
            }
        </div>
    </div>
    <aside class="info-pane">
        <div class="credits">            
            <div class="credits-by">Created by <i>Mage and Tbolt</i></div>
            <div class="credits-thanks">Special Thanks to <i>Scryllix, SteveTrevor, Chiku, and the DDRnG community</i></div>            
        </div>

    <h3 class="links-title">Quick Links</h3>
    <ul class="link-list">
        <li><a href="https://dungeondefenders.wiki.gg" rel="noopener">Dungeon Defender's Wiki</a></li>
        <li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2968079729" rel="noopener">Chiku’s Guide</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/11v0h3LLUDYEkTxvkLVWUzYv8wXvjZ1cPTJJ-o1QqVDM/edit?gid=1598543540#gid=1598543540" rel="noopener">Best-in-Slot Doc</a></li>
        <li><a href="https://www.dundefplanner.com" target="_blank" rel="noopener">DunDefPlanner for sharing layouts</a></li>           
    </ul>    
</aside>
</div>
<div class="toolbar-line">
    <label class="toolbar-label">Rate by:</label>
    <div class="toolbar-row">
        @foreach (var opt in _modeOptions)
        {
            <input class="tool-radio"
                   type="radio"
                   name="setOptions"
                   id="@($"mode-{opt.Value}")"
                   value="@opt.Value"
                   checked="@(_selectedMode == opt.Value)"
                   @onchange="() => SetMode(opt.Value)" />

            <label class="tool-btn" for="@($"mode-{opt.Value}")">
                @opt.Label
            </label>
        }
    </div>
</div>
<div class="toolbar-line">
    <label class="toolbar-label">Filters:</label>

    <div class="filters-groups">
        @RenderFilterGroup("Set", ArmorMaterialFilters)
        @RenderFilterGroup("Type", TypeFilters)
        @RenderFilterGroup("Other", OtherFilters)
    </div>
</div>

@code {
    private RenderFragment RenderFilterGroup(string title, IEnumerable<FilterOption> opts) => __builder =>
    {
        <div class="filter-group">
            <div class="filter-group-title">@title</div>
            <div class="toolbar-row">
                @foreach (var opt in opts)
                {
                    var id = $"filter-{opt.Label.Replace(" ", "-")}";

                    <input type="checkbox"
                           id="@id"
                           class="tool-filter"
                           checked="@((_selectedFilter & opt.Filter) != 0)"
                           @onchange="(e) => SetFilterFlag(opt.Filter, (bool)e.Value!)" />

                    <label class="tool-btn @(((_selectedFilter & opt.Filter) != 0) ? "active" : "")"
                           for="@id">
                        @opt.Label
                    </label>
                }
            </div>
        </div>;
    };
}


<div class="summary">@_summary</div>

@if (_rows.Count == 0)
{  
}
else
{
    <div class="grid-wrap">
    <table class="grid">
        <colgroup>
            <col style="width:80px" />   @* Rating *@
            <col style="width:65px" />   @* Value *@
            <col style="width:65px" />   @* BestFor *@
            <col style="width:65px" />   @* Type *@
            <col style="width:65px" />   @* Position *@

            <col style="width:10%" />    @* Name (2*) *@
            <col style="width:10%" />    @* Location (2*) *@
            <col style="width:80px" />   @* Quality *@
            
            <col style="width:55px" />   @* Lvl *@
            <col style="width:55px" />   @* MaxLvl *@

            <col style="width:60px" />   @* HHP *@
            <col style="width:60px" />   @* HDmg *@
            <col style="width:60px" />   @* HSpd *@
            <col style="width:60px" />   @* HRate *@
            <col style="width:60px" />   @* Ab1 *@
            <col style="width:60px" />   @* Ab2 *@
            <col style="width:60px" />   @* THP *@
            <col style="width:60px" />   @* TDmg *@
            <col style="width:60px" />   @* TRange *@
            <col style="width:60px" />   @* TRate *@

            <col style="width:50px" />   @* RG *@
            <col style="width:50px" />   @* RP *@
            <col style="width:50px" />   @* RF *@
            <col style="width:50px" />   @* RL *@
        </colgroup>
  
        <thead>
            <tr class="rating-row">
                <th colspan="10" class="hint-text">Click names to sort, or stars to adjust the rating calculation -></th>
                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.HHP))">
                        <img src="@GetImportanceImage(nameof(ItemViewRow.HHP))" />
                    </button>
                    </div>
                </th>

                    <th class="importance-cell">
                    <div class="th-center">
                   <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.HDmg))">
                            <img src="@GetImportanceImage(nameof(ItemViewRow.HDmg))" />
                    </button>
                    </div>
                </th>
                     <th class="importance-cell">
                    <div class="th-center">
               <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.HSpd))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.HSpd))" />
                    </button>
                     </div>
                </th>

                    <th class="importance-cell">
                    <div class="th-center">
                        <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.HRate))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.HRate))" />
                    </button>
                    </div>
                </th class="importance-cell">

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.Ab1))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.Ab1))" />
                    </button>
                    </div>
                </th>

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.Ab2))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.Ab2))" />
                    </button>
                    </div>
                </th>

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.THP))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.THP))" />
                    </button>
                    </div>
                </th>

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.TDmg))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.TDmg))" />
                    </button>
                    </div>
                </th>

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.TRange))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.TRange))" />
                    </button>
                    </div>
                </th>

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button" 
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.TRate))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.TRate))" />
                    </button>
                    </div>

                </th>

                <!-- Resists (all toggle the same flag, but still distinct columns) -->

                <th class="importance-cell">
                    <div class="th-center">
                    <button type="button"
                            @onclick="() => ChangeImportance(nameof(ItemViewRow.RG))">
                            <img  src="@GetImportanceImage(nameof(ItemViewRow.RG))" />
                    </button>
                    </div>
                </th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            <tr class="header-row">
                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Rating))">
                        Rating <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Rating))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Value))">
                         Estimated Value* <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Value))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>
                
                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.BestFor))">
                         Best For<span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.BestFor))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Type))">
                        Type <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Type))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Set))">
                        Set <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Set))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>
                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Name))">
                        Name <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Name))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Location))">
                        Location <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Location))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Quality))">
                        Quality <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Quality))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>


                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.Level))">
                        Lvl <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Level))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable">
                    <button type="button" class="th-btn" @onclick="() => SortBy(nameof(ItemViewRow.MaxLevel))">
                        MaxLvl <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.MaxLevel))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxHHP)">
                    <button type="button" class="th-btn th-icon" title="Hero Health" @onclick="() => SortBy(nameof(ItemViewRow.HHP))">
                        <img src="png/Hero Health.png" alt="HHP" />
                        <span class="hdr-text">HHP</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.HHP))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxHDmg)">
                    <button type="button" class="th-btn th-icon" title="Hero Damage" @onclick="() => SortBy(nameof(ItemViewRow.HDmg))">
                        <img src="png/Hero Damage.png" alt="HDmg" />
                        <span class="hdr-text">HDmg</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.HDmg))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxHSpd)">
                    <button type="button" class="th-btn th-icon" title="Hero Speed" @onclick="() => SortBy(nameof(ItemViewRow.HSpd))">
                        <img src="png/Move Speed.png" alt="HSpd" />
                        <span class="hdr-text">HSpd</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.HSpd))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxHRate)">
                    <button type="button" class="th-btn th-icon" title="Hero Casting Rate" @onclick="() => SortBy(nameof(ItemViewRow.HRate))">
                        <img src="png/Cast Rate.png" alt="HRate" />
                        <span class="hdr-text">HRate</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.HRate))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxAb1)">
                    <button type="button" class="th-btn th-icon" title="Ability 1" @onclick="() => SortBy(nameof(ItemViewRow.Ab1))">
                        <img src="png/AB1/Monk AB1.png" alt="Ab1" />
                        <span class="hdr-text">Ab1</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Ab1))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxAb2)">
                    <button type="button" class="th-btn th-icon" title="Ability 2" @onclick="() => SortBy(nameof(ItemViewRow.Ab2))">
                        <img src="png/AB2/Hero Boost Monk AB2.png" alt="Ab2" />
                        <span class="hdr-text">Ab2</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.Ab2))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxTHP)">
                    <button type="button" class="th-btn th-icon" title="Tower Health" @onclick="() => SortBy(nameof(ItemViewRow.THP))">
                        <img src="png/Tower Health.png" alt="THP" />
                        <span class="hdr-text">THP</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.THP))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header  @HeaderShadingStyle(sumIdxTDmg)">
                    <button type="button" class="th-btn th-icon" title="Tower Damage" @onclick="() => SortBy(nameof(ItemViewRow.TDmg))">
                        <img src="png/Tower Damage.png" alt="TDmg" />
                        <span class="hdr-text">TDmg</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.TDmg))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header  @HeaderShadingStyle(sumIdxTRange)">
                    <button type="button" class="th-btn th-icon" title="Tower Range" @onclick="() => SortBy(nameof(ItemViewRow.TRange))">
                        <img src="png/Tower Range.png" alt="TRng" />
                        <span class="hdr-text">TRng</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.TRange))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(sumIdxTRate)">
                    <button type="button" class="th-btn th-icon" title="Tower Rate" @onclick="() => SortBy(nameof(ItemViewRow.TRate))">
                        <img src="png/Tower Rate.png" alt="TRate" />
                        <span class="hdr-text">TRate</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.TRate))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(bFactorInResists?1:0)">
                    <button type="button" class="th-btn th-icon" title="Generic Resist" @onclick="() => SortBy(nameof(ItemViewRow.RG))">
                        <img src="png/Generic Resistance.png" alt="ResG" />
                        <span class="hdr-text">ResG</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.RG))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(bFactorInResists?1:0)">
                    <button type="button" class="th-btn th-icon" title="Poison Resist" @onclick="() => SortBy(nameof(ItemViewRow.RP))">
                        <img src="png/Poison Resistance.png" alt="ResP" />
                        <span class="hdr-text">ResP</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.RP))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(bFactorInResists?1:0)">
                    <button type="button" class="th-btn th-icon" title="Fire Resist" @onclick="() => SortBy(nameof(ItemViewRow.RF))">
                        <img src="png/Fire Resistance.png" alt="ResF" />
                        <span class="hdr-text">ResF</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.RF))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>

                <th class="sortable icon-header @HeaderShadingStyle(bFactorInResists?1:0)">
                    <button type="button" class="th-btn th-icon" title="Lightning Resist" @onclick="() => SortBy(nameof(ItemViewRow.RL))">
                        <img src="png/Lightning Resistance.png" alt="ResL" />
                        <span class="hdr-text">ResL</span>
                        <span class="sort-glyph">@SortGlyph(nameof(ItemViewRow.RL))</span>
                    </button>
                    <div class="col-resizer"></div>
                </th>
            </tr>
        </thead>


        <tbody>
            @foreach (var r in _rows)
            {
                <tr @key="r.Idx" class="@GetRowClass(r.BestAvailable, r.IsHidden)">
                    <td class="cell-rating">
                        <span class="rating-primary">@r.Rating</span>
                        <span class="rating-sides">@r.Sides</span>
                    </td>
                    <td>
                        @{
                            var (text, icon) = GetValueDisplay(r);
                            bool hasText = !string.IsNullOrWhiteSpace(text);
                            bool hasIcon = !string.IsNullOrWhiteSpace(icon);
                        }
                        <span class="value-icon @(hasText? "" : "value-icon-only")">
                            @if (hasIcon)
                            {
                            <img class="icon" src="@icon"/>
                            }
                            @if (hasText)
                            {
                                <span class="label">@text</span>
                            }
                        </span>
                    </td>
                    <td class="text bestfor">@r.BestFor</td>
                    <td class="text">@r.Type</td>
                    <td class="text">@r.Set</td>
                    <td class="text cell-name">@r.Name</td>
                    <td class="text location">@r.Location</td>
                    <td class="text @QualityClass(r.Quality)">@r.Quality</td>
                
                    <td class="num">@r.Level</td>
                    <td class="num">@r.MaxLevel</td>

                    <td class="num cell-health">@GetValue(r.HHP,r)</td>
                    <td class="num cell-damage">@GetValue(r.HDmg,r)</td>
                    <td class="num cell-range">@GetValue(r.HSpd,r)</td>
                    <td class="num cell-rate">@GetValue(r.HRate,r)</td>
                    <td class="num cell-ab1">@GetValue(r.Ab1,r)</td>
                    <td class="num cell-ab2">@GetValue(r.Ab2,r)</td>
                    <td class="num cell-health">@GetValue(r.THP,r)</td>
                    <td class="num cell-damage">@GetValue(r.TDmg,r)</td>
                    <td class="num cell-range">@GetValue(r.TRange,r)</td>
                    <td class="num cell-rate">@GetValue(r.TRate,r)</td>

                    <td class="resist">@r.RG</td>
                    <td class="resist">@r.RP</td>
                    <td class="resist">@r.RF</td>
                    <td class="resist">@r.RL</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@code {
    [Inject] private IJSRuntime JS { get; set; } = default!;

    private readonly string _dropZoneId = "dropzone";
    private DotNetObjectReference<Index>? _dotNetRef;
    private bool _isDragOver;
    private bool _isLoading;
    private bool _hideDropzoneHelp;
    private string _summary = "";
    private string _status = "";
    private string? _error;
    private DDDatabase db = new();
    private List<ItemViewRow> _rows = new();
    private record ModeOption(string Value, string Label);
    private record FilterOption( Filters Filter, string Label);
    private string _sortColumn = nameof(ItemViewRow.Rating);
    private bool _sortDesc = true;


    private readonly List<FilterOption> _filterOptions = new()
    {   
        new(Filters.Pristine,     "Pristine"),
        new(Filters.Chain,        "Chain"),
        new(Filters.Mail,         "Mail"),
        new(Filters.Plate,        "Plate"),
        new(Filters.Leather,      "Leather"),

        new(Filters.Helmet,       "Helmet"),
        new(Filters.Torso,        "Torso"),
        new(Filters.Gauntlet,     "Gauntlet"),
        new(Filters.Boots,        "Boots"),
        new(Filters.Brooch,       "Brooch"),
        new(Filters.Mask,         "Mask"),
        new(Filters.Bracers,      "Bracers"),
        new(Filters.Shield,       "Shield"),

        new(Filters.Pets,         "Pets"),
        new(Filters.Weapons,      "Weapons"),        

        new(Filters.NoEvents,     "No Events"),
        new(Filters.NoMissingResists, "No Missing Resists"),
        new(Filters.NoEquipped,   "No Equipped"),        
        new(Filters.Censor,       "Censor Ult++"),        
    };

    private readonly List<ModeOption> _modeOptions = new()
    {
        new("Builder Stats", "Builder Stats"),
        new("Hero Stats", "Hero Stats"),
        new("Builder App", "Builder App"),
        new("Builder Hermit", "Builder Hermit"),
        new("Builder Monk/Huntress", "Builder Monk/Huntress"),
        new("Builder EV", "Builder EV"),
        new("Builder Summoner", "Builder Summoner"),
        new("Tower Boost/Upgrader", "Tower Boost/Upgrader"),
        new("DPS AB1", "DPS AB1"),
        new("DPS AB2", "DPS AB2"),
        new("Pure DPS", "Pure DPS"),        
        new("Gunwitch", "Gunwitch"),        
        new("Guardian Summoner", "Guardian Summoner")
    };

    private (string text, string icon) GetValueDisplay(ItemViewRow row)
    {
        if (row.IsEvent)
            return ("💎???", "");

        if (row.Value > 0)
        {
            return ("💎" + row.Value.ToString() + "cv", "");
        }
        else
        {
            if (row.Value > -150) return ("⭐️⭐️⭐️", "");// "png/ValueHighest.png");
            else if (row.Value > -300) return ("⭐️⭐️", "");// "png/ValueHigh.png");
            else if (row.Value > -450) return ("⭐️", "");//"png/ValueMid.png");
            else  return ("❌", "");// "png/ValueLow.png");
               
        }

    }


    private string _selectedMode = "";
    private Filters _selectedFilter = 0;


    private void SetFilterFlag(Filters filter, bool enabled)
    {
        Filters newFilters = _selectedFilter;

        if (enabled)
            newFilters |= filter;
        else
            newFilters &= ~filter;        

        SetFilters(newFilters);
    }
    private IEnumerable<FilterOption> ArmorMaterialFilters =>
    _filterOptions.Where(o =>
        o.Filter is Filters.Pristine or Filters.Chain or Filters.Mail or Filters.Plate or Filters.Leather);

    private IEnumerable<FilterOption> TypeFilters =>
        _filterOptions.Where(o =>
            o.Filter is Filters.Helmet or Filters.Torso or Filters.Gauntlet or Filters.Boots
                   or Filters.Brooch or Filters.Mask or Filters.Bracers or Filters.Shield
                   or Filters.Pets or Filters.Weapons or Filters.Items);

    private IEnumerable<FilterOption> OtherFilters =>
        _filterOptions.Where(o =>
            o.Filter is Filters.NoEvents or Filters.NoMissingResists or Filters.NoEquipped or Filters.Censor);


    private string GetValue( int value, ItemViewRow r )
    {
        string s = value.ToString();
        if (!r.Quality.EndsWith("++") || (!_selectedFilter.HasFlag(Filters.Censor)))
            return s;
        else
            return s.Substring(0, s.Length - 1) + "x";
    }

    private void SetFilters(Filters filter)
    {
        _selectedFilter = filter;

        //_rows.Clear();

        foreach (var v in _rows )
        {
            bool includeType = false;

            bool includeSubType = false;
            bool isArmor = v.IsArmor;
            if (((v.Set == "Pristine") || (v.Set == "Any")) && filter.HasFlag(Filters.Pristine))
                includeSubType = true; 

            if (((v.Set == "Chain") || (v.Set == "Any")) && filter.HasFlag(Filters.Chain))
                includeSubType = true;

            if (((v.Set == "Mail") || (v.Set == "Any")) && filter.HasFlag(Filters.Mail))
                includeSubType = true;

            if (((v.Set == "Plate") || (v.Set == "Any")) && filter.HasFlag(Filters.Plate))
                includeSubType = true;

            if (((v.Set == "Leather") || (v.Set == "Any")) && filter.HasFlag(Filters.Leather))
                includeSubType = true;

            if ((v.Type == "Helmet") && filter.HasFlag(Filters.Helmet))
                includeType = true;

            if ((v.Type == "Torso") && filter.HasFlag(Filters.Torso))
                includeType = true;

            if ((v.Type == "Gauntlet") && filter.HasFlag(Filters.Gauntlet))
                includeType = true;

            if ((v.Type == "Boots") && filter.HasFlag(Filters.Boots))
                includeType = true;

            if ((v.Type == "Brooch") && filter.HasFlag(Filters.Brooch))
                includeType = true;

            if ((v.Type == "Mask") && filter.HasFlag(Filters.Mask))
                includeType = true;

            if ((v.Type == "Bracers") && filter.HasFlag(Filters.Bracers))
                includeType = true;

            if ((v.Type == "Shield") && filter.HasFlag(Filters.Shield))
                includeType = true;

            if ((v.Type == "Pet") && filter.HasFlag(Filters.Pets))
                includeType = true;

            if ((v.Type == "Weapon") && filter.HasFlag(Filters.Weapons))
                includeType = true;

            if ((v.Type == "Item") && filter.HasFlag(Filters.Items))
                includeType = true;

            bool includeItem = includeType && (!isArmor || includeSubType);

            // negative filters
            if ((v.IsEvent) && filter.HasFlag(Filters.NoEvents))
                includeItem = false;

            if ((v.IsMissingResists) && filter.HasFlag(Filters.NoMissingResists))
                includeItem = false;

            if ((v.IsEquipped) && filter.HasFlag(Filters.NoEquipped))
                includeItem = false;

            v.IsHidden = !includeItem;            
        }
        SetMode(_selectedMode);
    }


    private bool bFactorInResists = false;
    private int sumIdxHHP = 0;
    private int sumIdxHDmg = 0;
    private int sumIdxHSpd = 0;
    private int sumIdxHRate = 0;
    private int sumIdxAb1 = 0;
    private int sumIdxAb2 = 0;
    private int sumIdxTHP = 0;
    private int sumIdxTDmg = 0;
    private int sumIdxTRange = 0;
    private int sumIdxTRate = 0;

    private static string HeaderShadingStyle(int idx)
    {
        if (idx == 1) return "table-header-primary";
        if (idx == 2) return "table-header-secondary";
        return "table-header-none";
    }


    private void SetMode(string mode)
    {
        _selectedMode = mode;

        // ignore = 0, rating = 1, sides = 2
        int[] sum = new int[3];
        bFactorInResists = false;
        sumIdxHHP = 0;
        sumIdxHDmg = 0;
        sumIdxHSpd = 0;
        sumIdxHRate = 0;
        sumIdxAb1 = 0;
        sumIdxAb2 = 0;
        sumIdxTHP = 0;
        sumIdxTDmg = 0;
        sumIdxTRange = 0;
        sumIdxTRate = 0;

        switch (mode)
        {
            case "Builder Stats":                
                sumIdxTHP = 1;
                sumIdxTDmg = 1;
                sumIdxTRange = 1;
                sumIdxTRate = 1;
                break;
            case "Hero Stats":
                sumIdxHHP = 1;
                sumIdxHDmg = 1;
                sumIdxHSpd = 1;
                sumIdxHRate = 1;
                sumIdxAb1 = 1;
                sumIdxAb2 = 1;
                break;            
            case "Builder App":
                sumIdxTHP = 2;
                sumIdxTDmg = 1;
                sumIdxTRange = 1;
                sumIdxTRate = 1;
                break;
            case "Builder Hermit":
                sumIdxTHP = 1;
                sumIdxTDmg = 1;
                sumIdxTRange = 1;
                sumIdxTRate = 2;
                break;
            case "Builder Monk/Huntress":
                sumIdxTHP = 2;
                sumIdxTDmg = 2;
                sumIdxTRange = 1;
                sumIdxTRate = 2;
                break;
            case "Builder EV":
                sumIdxTHP = 2;
                sumIdxTDmg = 1;
                sumIdxTRange = 2;
                sumIdxTRate = 2;
                break;
            case "Builder Summoner":
                sumIdxTHP = 1;
                sumIdxTDmg = 2;
                sumIdxTRange = 2;
                sumIdxTRate = 2;
                break;

            case "Tower Boost/Upgrader":
                bFactorInResists = true;
                sumIdxHHP = 2;
                sumIdxHDmg = 2;
                sumIdxHRate = 2;
                sumIdxAb1 = 1;
                break;

            case "DPS AB1":
                bFactorInResists = true;
                sumIdxHHP = 2;
                sumIdxHDmg = 1;
                sumIdxHRate = 2;
                sumIdxAb1 = 1;
                break;
            case "DPS AB2":
                bFactorInResists = true;
                sumIdxHHP = 2;
                sumIdxHDmg = 1;
                sumIdxHRate = 2;
                sumIdxAb2 = 1;
                break;
            case "Pure DPS":
                bFactorInResists = true;
                sumIdxHHP = 2;
                sumIdxHDmg = 1;
                sumIdxHRate = 2;
                sumIdxAb1 = 2;
                sumIdxAb2 = 2;
                break;       
            case "Gunwitch":
                bFactorInResists = true;
                sumIdxHDmg = 1;
                sumIdxTDmg = 1;
                sumIdxTRate = 2;
                break;
            case "Guardian Summoner":
                bFactorInResists = true;
                sumIdxHHP = 1;
                sumIdxAb2 = 1;
                break;
        }
        RecalculateRatings();
    }

    private void TestForBestPiece(string type, string set, int rating, Dictionary<string, int> BestPieces)
    {
        if ( set == "Any" )
        {
            TestForBestPiece(type, "Chain", rating, BestPieces);
            TestForBestPiece(type, "Pristine", rating, BestPieces);
            TestForBestPiece(type, "Plate", rating, BestPieces);
            TestForBestPiece(type, "Mail", rating, BestPieces);
            TestForBestPiece(type, "Leather", rating, BestPieces);
            return;
        }

        string key = set + "_" + type;

        if (BestPieces.ContainsKey(key))
        {
            if (BestPieces[key] < rating)
                BestPieces[key] = rating;
        }
        else
            BestPieces[key] = rating;
    }

    private void RecalculateRatings()
    {
        Dictionary<string, int> BestPieces = new Dictionary<string, int>();

        for (int i = 0; i < _rows.Count; i++)
        {            
            var r = _rows[i];
            float mult = r.SetBonus;
            int maxR = r.ResistanceTarget;
            int maxStatLevel = r.MaxStat;
            (int rating, int sides) = Ratings.EvalRating(r, sumIdxHHP, sumIdxHDmg, sumIdxHSpd, sumIdxHRate, sumIdxAb1, sumIdxAb2, sumIdxTHP, sumIdxTDmg, sumIdxTRange, sumIdxTRate, bFactorInResists);


            if (!r.IsHidden && r.IsEligibleForBest)
            {
                TestForBestPiece(r.Type, r.Set, rating, BestPieces);                
            }

            _rows[i].Rating = rating;
            _rows[i].Sides = sides;
            _rows[i].BestAvailable = 0;
        }

        // find best armor set
        //-------------------------
        string[] Sets = { "Plate", "Pristine", "Leather", "Mail", "Chain" };
        int[] Scores = new int[5];
        foreach ( var v in BestPieces )
        {
            for (int i = 0; i < 5; i++)
            {
                if (v.Key.StartsWith(Sets[i]))
                {
                    Scores[i] += v.Value;
                }
            }            
        }

        string bestSet = Sets[0];
        int bestScore = Scores[0];
        for (int i = 1; i < 5; i++)
        {
            if (bestScore < Scores[i])
            {
                bestScore = Scores[i];
                bestSet = Sets[i];
            }
        }

        string NameString = "";

        for (int i = 0; i < _rows.Count; i++)
        {
            bool highlight = false;
            var r = _rows[i];
            if (r.IsHidden || !r.IsEligibleForBest) continue;
            if ((r.Set == bestSet) || (r.Set == "Any"))
            {
                string typeString = bestSet + "_" + r.Type;
                if ( BestPieces.ContainsKey(typeString))
                {
                    int rating = BestPieces[typeString];    
                    if (r.Rating == rating)
                    {
                        highlight = true;
                        BestPieces[typeString] = -99999;
                        NameString += r.Name + " ";
                    }
                }                                
            }

            _rows[i].BestAvailable = (highlight ? 1 : 0);
        }


        _summary = $"Best Armor Set: {bestSet} ({bestScore})";
        //-------------------------
        _sortDesc = true;
        _sortColumn = "";
        SortBy("Rating");
    }



    private void ChangeImportance( string column )
    {

        switch (column)
        {
            case nameof(ItemViewRow.HHP):     sumIdxHHP     = (sumIdxHHP + 1) % 3; break;
            case nameof(ItemViewRow.HDmg):    sumIdxHDmg    = (sumIdxHDmg + 1) % 3; break;
            case nameof(ItemViewRow.HSpd):    sumIdxHSpd    = (sumIdxHSpd + 1) % 3; break;
            case nameof(ItemViewRow.HRate):   sumIdxHRate   = (sumIdxHRate + 1) % 3; break;
            case nameof(ItemViewRow.Ab1):     sumIdxAb1     = (sumIdxAb1 + 1) % 3; break;
            case nameof(ItemViewRow.Ab2):     sumIdxAb2     = (sumIdxAb2 + 1) % 3; break;
            case nameof(ItemViewRow.THP):     sumIdxTHP     = (sumIdxTHP + 1) % 3; break;
            case nameof(ItemViewRow.TDmg):    sumIdxTDmg    = (sumIdxTDmg + 1) % 3; break;
            case nameof(ItemViewRow.TRange):  sumIdxTRange  = (sumIdxTRange + 1) % 3; break;
            case nameof(ItemViewRow.TRate):   sumIdxTRate   = (sumIdxTRate + 1) % 3; break;

            case nameof(ItemViewRow.RG):  bFactorInResists = !bFactorInResists; break;
            case nameof(ItemViewRow.RP):  bFactorInResists = !bFactorInResists; break;
            case nameof(ItemViewRow.RF):  bFactorInResists = !bFactorInResists; break;
            case nameof(ItemViewRow.RL):  bFactorInResists = !bFactorInResists; break;
        }
        RecalculateRatings();

    }

    private string GetImportanceImage( string column )
    {       
        int idx = column switch
        {
            nameof(ItemViewRow.HHP)     => sumIdxHHP,
            nameof(ItemViewRow.HDmg)    => sumIdxHDmg,
            nameof(ItemViewRow.HSpd)    => sumIdxHSpd,
            nameof(ItemViewRow.HRate)   => sumIdxHRate,
            nameof(ItemViewRow.Ab1)     => sumIdxAb1,
            nameof(ItemViewRow.Ab2)     => sumIdxAb2,
            nameof(ItemViewRow.THP)     => sumIdxTHP,
            nameof(ItemViewRow.TDmg)    => sumIdxTDmg,
            nameof(ItemViewRow.TRange)  => sumIdxTRange,
            nameof(ItemViewRow.TRate)   => sumIdxTRate,
            nameof(ItemViewRow.RG)      => bFactorInResists?1:0,
            nameof(ItemViewRow.RP)      => bFactorInResists?1:0,
            nameof(ItemViewRow.RF)      => bFactorInResists?1:0,
            nameof(ItemViewRow.RL)      => bFactorInResists?1:0,
            _ => 0
        };

        return idx switch
        {
            0 => "png/importance-none.png",
            1 => "png/importance-rating.png",
            2 => "png/importance-side.png",
            _ => ""
        };
    }

    private void SortBy(string column)
    {
        if (_sortColumn == column)
            _sortDesc = !_sortDesc;      // toggle
        else
        {
            _sortColumn = column;
            _sortDesc = true;            // default: desc like WPF “largest first”
        }

        ApplySort();
    }
    private static readonly StringComparer Ci = StringComparer.OrdinalIgnoreCase;

    private void ApplySort()
    {
        int dir = _sortDesc ? -1 : 1;

        int Cmp(int a, int b) => a.CompareTo(b);
        int CmpStr(string? a, string? b) => Ci.Compare(a ?? "", b ?? "");

        int Compare(ItemViewRow a, ItemViewRow b)
        {
            int c = _sortColumn switch
            {
                nameof(ItemViewRow.Rating)   => Cmp(a.Rating, b.Rating),
                nameof(ItemViewRow.Value)    => Cmp(a.Value, b.Value),
                nameof(ItemViewRow.BestFor)  => CmpStr(a.BestFor, b.BestFor),
                nameof(ItemViewRow.Level)    => Cmp(a.Level, b.Level),
                nameof(ItemViewRow.MaxLevel) => Cmp(a.MaxLevel, b.MaxLevel),

                nameof(ItemViewRow.HHP)      => Cmp(a.HHP, b.HHP),
                nameof(ItemViewRow.HDmg)     => Cmp(a.HDmg, b.HDmg),
                nameof(ItemViewRow.HSpd)     => Cmp(a.HSpd, b.HSpd),
                nameof(ItemViewRow.HRate)    => Cmp(a.HRate, b.HRate),
                nameof(ItemViewRow.Ab1)      => Cmp(a.Ab1, b.Ab1),
                nameof(ItemViewRow.Ab2)      => Cmp(a.Ab2, b.Ab2),
                nameof(ItemViewRow.THP)      => Cmp(a.THP, b.THP),
                nameof(ItemViewRow.TDmg)     => Cmp(a.TDmg, b.TDmg),
                nameof(ItemViewRow.TRange)   => Cmp(a.TRange, b.TRange),
                nameof(ItemViewRow.TRate)    => Cmp(a.TRate, b.TRate),

                nameof(ItemViewRow.RG)       => Cmp(a.RG, b.RG),
                nameof(ItemViewRow.RP)       => Cmp(a.RP, b.RP),
                nameof(ItemViewRow.RF)       => Cmp(a.RF, b.RF),
                nameof(ItemViewRow.RL)       => Cmp(a.RL, b.RL),

                nameof(ItemViewRow.Name)     => CmpStr(a.Name, b.Name),
                nameof(ItemViewRow.Location) => CmpStr(a.Location, b.Location),
                nameof(ItemViewRow.Type)     => CmpStr(a.Type, b.Type),
                nameof(ItemViewRow.Set )    => CmpStr(a.Set, b.Set),

                nameof(ItemViewRow.Quality)  => Cmp(QualityRank(a.Quality), QualityRank(b.Quality)),
                _ => Cmp(a.Rating, b.Rating),
            };

            // primary sort direction
            c *= dir;
            if (c != 0) return c;

            // tie-breakers (desc, like you were doing)
            c = b.Rating.CompareTo(a.Rating);
            if (c != 0) return c;
            return b.Sides.CompareTo(a.Sides);
        }

        _rows.Sort(Compare);
    }

    private static int QualityRank(string? q)
    {
        q = (q ?? "").Trim();

        // Adjust if your data uses "Ult90"/"Ult93" etc.
        if (q.StartsWith("Ult++", StringComparison.OrdinalIgnoreCase)) return 7;
        if (q.StartsWith("Ult+", StringComparison.OrdinalIgnoreCase)) return 6;
        if (q.StartsWith("Ult93", StringComparison.OrdinalIgnoreCase)) return 5;
        if (q.StartsWith("Ult90", StringComparison.OrdinalIgnoreCase)) return 4;

        return q switch
        {
            "Supreme" => 3,
            "Transcendent" => 2,
            "Mythical" => 1,
            _ => 0
        };
    }

    private static string GetRowClass(int c, bool h)
    {
        if (h) return "hidden-row";
        if (c == 1) return "highlighted-row";
        return "";
    }


    private static string QualityClass(string quality)
    {
        if (quality == "Ult++") return "cell-quality-ultplusplus";
        else if (quality == "Ult+") return "cell-quality-ultplus";
        else if (quality == "Ult93") return "cell-quality-ult93";
        else if (quality == "Ult90") return "cell-quality-ult90";
        else if (quality == "Supreme") return "cell-quality-supreme";
        else if (quality == "Transcendent") return "cell-quality-transcendent";
        else if (quality == "Mythical") return "cell-quality-mythical";
        else return "cell-quality-default";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("dropzone.init", _dropZoneId, _dotNetRef);
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

    // Called by JS when user drags over / leaves to let us style the dropzone
    [JSInvokable]
    public void SetDragOver(bool isOver)
    {
        _isDragOver = isOver;
        StateHasChanged();
    }

    // Called by JS after it reads the dropped file as base64
    [JSInvokable]
    public async Task OnFileDropped(string fileName, string base64Bytes)
    {
        _error = null;
        _isLoading = true;
        _status = $"Reading {fileName}…";
        StateHasChanged();

        try
        {
            // Raw binary bytes
            byte[] bytes = Convert.FromBase64String(base64Bytes);

            _status = $"Parsing {fileName} ({bytes.Length:N0} bytes)";
            StateHasChanged();

            await db.LoadFromDun(bytes);
            if (!db.IsReady)
            {
                _error = db.Status;               
            }
            else
            {
                _status = db.Status;
                _rows.Clear();
                Ratings.ClearBestRatings();
                for (int i =0; i < db.Items.Count; i++)
                {
                    ItemViewRow itemViewRow = db.Items[i].ToItemViewRow();
                    _rows.Add(itemViewRow);

                    (itemViewRow.Value, itemViewRow.BestFor) = Ratings.GetBestValue(true, itemViewRow);
                }

                // now go through and get relative value
                foreach( var v in _rows )
                {
                    if (v.Value <= 0)
                    {
                        // calculate relative rating for value (goes from -1000 to 0)
                        (v.Value, v.BestFor) = Ratings.GetBestValue(false, v);
                    }
                }




                SetFilters(Filters.Chain | Filters.Mail | Filters.Pristine | Filters.Leather | Filters.Plate | Filters.Helmet | Filters.Torso | Filters.Gauntlet | Filters.Boots | Filters.NoEvents );
                SetMode("Builder App");
    
                _hideDropzoneHelp = true;              
            }
        }
        catch (Exception ex)
        {
            _hideDropzoneHelp = false;
            _error = $"Error: {ex.Message} {db.Status}";
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }
    
    private string SortGlyph(string col)
    {
        if (_sortColumn != col) return "";
        return _sortDesc ? "▼" : "▲";
    }

    private void OnButtonClicked()
    {
        // Example: you’ll replace with your own action
        _status = $"Button clicked at {DateTime.Now:T}";
    }

}
